---
http_interactions:
- request:
    method: get
    uri: http://beermapping.com/webservice/loccity/<BEER_MAPPING_API_KEY>/Boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 25 Jan 2015 00:01:08 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='utf-8' ?><bmp_locations><location><id>103</id><name>Beer
        Works - Canal Street</name><status>Brewpub</status><reviewlink>http://beermapping.com/maps/reviews/reviews.php?locid=103</reviewlink><proxylink>http://beermapping.com/maps/proxymaps.php?locid=103&amp;d=5</proxylink><blogmap>http://beermapping.com/maps/blogproxy.php?locid=103&amp;d=1&amp;type=norm</blogmap><street>112
        Canal Street</street><city>Boston</city><state>MA</state><zip>02114</zip><country>United
        States</country><phone>(617) 896-2337</phone><overall>91.6667</overall><imagecount>1</imagecount></location><location><id>104</id><name>Beer
        Works - Fenway</name><status>Brewpub</status><reviewlink>http://beermapping.com/maps/reviews/reviews.php?locid=104</reviewlink><proxylink>http://beermapping.com/maps/proxymaps.php?locid=104&amp;d=5</proxylink><blogmap>http://beermapping.com/maps/blogproxy.php?locid=104&amp;d=1&amp;type=norm</blogmap><street>61
        Brookline Avenue</street><city>Boston</city><state>MA</state><zip>02215</zip><country>United
        States</count[...]
