---
http_interactions:
- request:
    method: get
    uri: http://beermapping.com/webservice/locquery/<BEER_MAPPING_API_KEY>/Budweiser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 25 Jan 2015 00:25:34 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='utf-8' ?><bmp_locations><location><id>8794</id><name>Budweiser
        Budvar</name><status>Brewery</status><reviewlink>http://beermapping.com/maps/reviews/reviews.php?locid=8794</reviewlink><proxylink>http://beermapping.com/maps/proxymaps.php?locid=8794&amp;d=5</proxylink><blogmap>http://beermapping.com/maps/blogproxy.php?locid=8794&amp;d=1&amp;type=norm</blogmap><street>Karoliny
        Svetle 4</street><city>Ceske Budejovice</city><state></state><zip>370 21</zip><country>Czech
        Republic</country><phone>420 387 705 11</phone><overall>0</overall><imagecount>0</imagecount></location></bmp_locations>
  recorded_at: Sun, 25 Jan 2015 00:25:34 GMT
recorded_with: VCR 2.9.2
