---
http_interactions:
- request:
    method: get
    uri: http://beermapping.com/webservice/locquery/<BEER_MAPPING_API_KEY>/Jack's+Abby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 25 Jan 2015 00:05:38 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='utf-8' ?><bmp_locations><location><id>14978</id><name>Jack's
        Abby Brewing</name><status>Brewery</status><reviewlink>http://beermapping.com/maps/reviews/reviews.php?locid=14978</reviewlink><proxylink>http://beermapping.com/maps/proxymaps.php?locid=14978&amp;d=5</proxylink><blogmap>http://beermapping.com/maps/blogproxy.php?locid=14978&amp;d=1&amp;type=norm</blogmap><street>81
        Morton Street</street><city>Framingham</city><state>MA</state><zip>01702</zip><country>United
        States</country><phone>(508) 872-0900</phone><overall>90.0001</overall><imagecount>0</imagecount></location></bmp_locations>
  recorded_at: Sun, 25 Jan 2015 00:05:38 GMT
- request:
    method: get
    uri: http://beermapping.com/webservice/locquery/<BEER_MAPPING_API_KEY>/Jack's+Abby+Brewing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 25 Jan 2015 00:09:46 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='utf-8' ?><bmp_locations><location><id>14978</id><name>Jack's
        Abby Brewing</name><status>Brewery</status><reviewlink>http://beermapping.com/maps/reviews/reviews.php?locid=14978</reviewlink><proxylink>http://beermapping.com/maps/proxymaps.php?locid=14978&amp;d=5</proxylink><blogmap>http://beermapping.com/maps/blogproxy.php?locid=14978&amp;d=1&amp;type=norm</blogmap><street>81
        Morton Street</street><city>Framingham</city><state>MA</state><zip>01702</zip><country>United
        States</country><phone>(508) 872-0900</phone><overall>90.0001</overall><imagecount>0</imagecount></location></bmp_locations>
  recorded_at: Sun, 25 Jan 2015 00:09:46 GMT
recorded_with: VCR 2.9.2
